@font-face {
    font-family: 'TTLakes';
    src: url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    text-decoration: none;
    color: rgba(27, 28, 33, 1);
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.btn:hover {
    color: red;
    transition: 1s;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

body {
    font-family: TTLakes, sans-serif;
    background-color: rgba(248, 248, 248, 1);
}

/* HEADER ===============================================*/

.header__wrap {
    padding: 42px 25px 0 32px;

    display: flex;
    justify-content: space-between;
}

.header__leftside {
    display: flex;
    text-align: center;
    align-items: center;
}

.header__leftside button,
.header__rightside li:not(:last-child) {
    margin-right: 25px;
    cursor: pointer;
}

.header__rightside {
    display: flex;
    text-align: center;
    align-items: center;
}

.header__rightside li {
    list-style: none;
}

.header__icon-cps {
    border-left: 2px solid rgba(234, 234, 234, 1);
    margin-right: -25px;
    padding-left: 25px;
}

/* HEADER ===============================================*/

/* SERVICES ===============================================*/

.services {
    margin: 42px 25px 0 32px;
}

.services__wrap {
    margin: 42px 25px 0 32px;
    display: flex;
    justify-content: space-between;
}

.services__title {
    border-left: 3px solid rgba(184, 255, 236, 1);
}

.services__info {
    display: flex;
    cursor: pointer;
}

.icon {
    background-color: rgba(255, 62, 121, 1);
    border-radius: 50%;
    padding: 11px;
    transition: 2s;
}

.icon:hover {
    transform: rotate(360deg);
}

.services__icon-right {
    padding: 10px 12px;
}

.services__icon-left {
    padding: 10px;
}

.services__info-wrap {
    display: flex;
    align-items: center;
}

.services__info-wrap:not(:last-child) {
    margin-right: 32px;
}

.services__info-wrap button {
    margin-right: 8px;
    font-size: 16px;
}

/* SERVICES ===============================================*/

/* NAV ===============================================*/

.service-nav__wrap {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.service-nav li:not(:last-child) {
    margin: 30px 0;
}

.service-nav a {
    text-decoration: none;
    color: rgba(126, 126, 130, 1);
    padding: 8px 16px;
    font-size: 16px;
    white-space: nowrap;
}

.service-nav a:hover {
    color: rgb(0, 0, 0);
    transition: 1s;
}

.active {
    border: 2px solid rgba(184, 255, 236, 1);
    background-color: white;
}

/* NAV ===============================================*/

/* MAIN ===============================================*/

.main__wrap {
    margin: 30px 25px 0 32px;
    display: flex;
    flex-direction: column;
}

.main__img img {
    max-width: 100%;
}

.main__text {
    max-width: 490px;
    font-size: 16px;
}

.main__text p:nth-child(2) {
    margin-top: 15px;
}

.main__text-next {
    margin: 20px 0;
    margin-left: 25px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: rgba(248, 248, 248, 1);
    cursor: pointer;
}

.main__text-next::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url('./images/next.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* MAIN ===============================================*/

@media (min-width: 320px) {
    .service-nav {
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
    .service-nav__wrap {
        flex-wrap: nowrap;
    }
    .header__rightside li:nth-child(1),
    .header__rightside li:nth-child(2),
    .header__rightside li:nth-child(3) {
        display: none;
    }
    .header__wrap {
        justify-content: space-between;
        padding: 35px 20px 0 25px;
    }
    .header__rightside {
        margin-left: 30px;
    }
    .header__rightside li:nth-child(4) {
        margin: 0 10px;
    }
    .header__icon-cps {
        padding-right: 15px;
    }
    .header__icon-cps {
        border-left: none;
        border-right: 2px solid rgba(234, 234, 234, 1);
        margin-left: -30px;
        padding-right: 10px;
    }
    .services__info {
        display: none;
    }
    .services__title {
        font-size: 24px;
    }
    .services__title {
        margin-left: -63px;
        padding-left: 30px;
    }
    .main__text-visible,
    .main__text-hidden {
        display: none;
    }
}

@media (min-width: 680px) {
    .main__wrap {
        flex-direction: row;
    }
    .main__text {
        margin-right: 20px;
    }
}

@media (min-width: 600px) {
    .main__wrap {
        margin: 20px 25px;
    }
}

@media (min-width: 768px) {
    .main__text-visible {
        display: block;
    }
    .header__rightside li:nth-child(1),
    .header__rightside li:nth-child(2),
    .header__rightside li:nth-child(3) {
        display: block;
    }
    .header__rightside li:nth-child(3) {
        border-right: 2px solid rgba(234, 234, 234, 1);
        padding-right: 25px;
    }
    .header__rightside li:nth-child(4) {
        margin: 0 25px 0 0;
    }
    .header__icon-cps {
        border-left: 2px solid rgba(234, 234, 234, 1);
        margin-left: 0px;
        padding-left: 25px;
        border-right: none;
    }
}

@media (min-width: 1120px) {
    .service-nav {
        overflow: hidden;
    }
    .service-nav__wrap {
        flex-wrap: wrap;
    }
    .main__text-visible,
    .main__text-hidden {
        display: inline;
    }
    header {
        display: none;
    }
    .services__info {
        display: flex;
    }
}
