@font-face {
    font-family: 'TTLakes';
    src: url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgba(126, 126, 130, 1);
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

body {
    font-family: TTLakes, sans-serif;
    background-color: rgba(248, 248, 248, 1);
}

/* HEADER ===============================================*/

header {
    display: none;
    margin: 42px 25px 0 32px;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
}

.header__leftside {
    display: flex;
    text-align: center;
    align-items: center;
}

.header__leftside p,
.header__rightside p {
    margin-right: 25px;
    cursor: pointer;
}

.header__rightside {
    display: flex;
    text-align: center;
    align-items: center;
}

.header__icon-cps {
    border-left: 2px solid rgba(234, 234, 234, 1);
    margin-right: -25px;
    padding-left: 25px;
}

/* HEADER ===============================================*/

/* SERVICES ===============================================*/

.services {
    margin: 42px 25px 0 32px;
}

.services__wrap {
    display: flex;
    justify-content: space-between;
}

.services__title {
    padding-left: 30px;
    margin-left: -30px;
    border-left: 3px solid rgba(184, 255, 236, 1);
}

.services__info {
    display: flex;
    cursor: pointer;
}

.icon {
    background-color: rgba(255, 62, 121, 1);
    border-radius: 50%;
    padding: 11px;
}

.services__icon-right {
    padding: 10px 12px;
}

.services__icon-left {
    padding: 10px;
}

.services__info-wrap {
    display: flex;
    align-items: center;
}

.services__info-wrap:not(:last-child) {
    margin-right: 32px;
}

.services__info-wrap p {
    margin-right: 8px;
}

/* SERVICES ===============================================*/

/* NAV ===============================================*/

.service-nav {
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
}

.service-nav a {
    padding: 8px 16px;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: clip;
}

.active {
    border: 2px solid rgba(184, 255, 236, 1);
    background-color: white;
}

.reviews {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 22px;
    font-size: 16px;
    line-height: 24px;
}

/* NAV ===============================================*/

/* MAIN ===============================================*/

main {
    margin-top: 7px;
    padding: 0 28px 0 34px;
}

.main__wrap {
    display: flex;
    justify-content: space-around;
}

.main__img img {
    max-width: 100%;
}

.main__text {
    max-width: 490px;
    padding-right: 30px;
    font-size: 16px;
}

.main__text p:not(:last-child) {
    margin-bottom: 20px;
}

.main__text-next {
    margin: 20px 0;
    margin-left: 25px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: rgba(248, 248, 248, 1);
    cursor: pointer;
}

.main__text-next::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url('/images/next.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* MAIN ===============================================*/

@media (max-width: 768px) {
    .service-nav {
        overflow-x: scroll;
        flex-wrap: nowrap;
    }

    .services__info-wrap p {
        display: none;
    }

    header {
        display: block;
    }

    .reviews {
        display: none;
    }

    main {
        margin-top: 30px;
    }
}

@media (max-width: 680px) {
    .main__wrap {
        display: block;
    }
    .header__icon-phone,
    .header__icon-message,
    .header__icon-profile {
        display: none;
    }
    .main__text {
        font-size: 16px;
        padding-right: 0;
    }
}

@media (max-width: 480px) {
    .services__title {
        font-size: 28px;
    }
    .header__rightside {
        display: block;
    }

    .main__text p:last-child {
        display: none;
    }
    .main__text {
        margin-bottom: -20px;
    }
    main {
        padding: 0;
    }
    .header__icon-cps {
        border-left: none;
        border-right: 2px solid rgba(234, 234, 234, 1);
        margin: -25px;
        padding-right: 25px;
    }
}

@media (max-width: 320px) {
    .header__wrap {
        justify-content: space-between;
    }
    .header__rightside {
        margin-left: 30px;
    }
}
